#root {
  max-width: 1280px;
  margin: 0 auto;
}

/* This #preloader-logo id is present in components/Preloader.jsx file */
#preloader-logo path {
  stroke-dasharray: 1273px;
  stroke-dashoffset: 1273px;
  animation: line-animation 1.5s ease-in-out infinite;
  opacity: 0.3;
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
